<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated textualmcrl2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="textualmcrl2.presentation.Textualmcrl2ModelWizardID"
            name="%_UI_Textualmcrl2ModelWizard_label"
            class="textualmcrl2.presentation.Textualmcrl2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Textualmcrl2ModelFile.gif">
         <description>%_UI_Textualmcrl2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated textualmcrl2 -->
      <editor
            id="textualmcrl2.presentation.Textualmcrl2EditorID"
            name="%_UI_Textualmcrl2Editor_label"
            icon="icons/full/obj16/Textualmcrl2ModelFile.gif"
            extensions="textualmcrl2"
            class="textualmcrl2.presentation.Textualmcrl2Editor"
            contributorClass="textualmcrl2.presentation.Textualmcrl2ActionBarContributor">
      </editor>
   </extension>

</plugin>
