<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="constraints.presentation.ConstraintsModelWizardID"
            name="%_UI_ConstraintsModelWizard_label"
            class="constraints.presentation.ConstraintsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConstraintsModelFile.gif">
         <description>%_UI_ConstraintsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="constraints.presentation.ConstraintsEditorID"
            name="%_UI_ConstraintsEditor_label"
            icon="icons/full/obj16/ConstraintsModelFile.gif"
            extensions="constraints"
            class="constraints.presentation.ConstraintsEditor"
            contributorClass="constraints.presentation.ConstraintsActionBarContributor">
      </editor>
   </extension>

</plugin>
