<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://mdse.tue.nl/textualmcrl2"
            class="textualmcrl2.Textualmcrl2Package"
            genModel="model/textualmcrl2.genmodel"/>
   </extension>

</plugin>
